$squareSize: 200px; //@ToDo cant`t change building
$squareDepth: 10px;
$streetWidth: 100px;

$skyColor: #BEE1E5;
$cloudColor: #FFF;
$grassColor: #8CB836;

$streetBaseColor: #6F6C68;
$streetLineColor: #FFF;


/* -------------------------------
  bill
 */
$billStandardSize: $squareSize/2;
$billStandardColor: #F2F5FF; // base on LEFT SIDE

$billLowHeight: 100px;
$billMediumHeight: 200px;
$billHighHeight: 500px;

$billBlueColor: #79AAD7;
$billGreenColor: #B3CD82;
$billWindowColor: transparentize(#86B8D6, 1-0.8);