/* -------------------------------
  BASIS
 */
$squareSize: 200px;

/* -------------------------------
  Land
 */
$cityDepth: 30px;
$landDepth:  15px;
$landBasis:  $squareSize;
$landWide:   $landBasis;
$landLength: $landBasis;

/* -------------------------------
  Road
 */
$roadDepth:  10px;
$streetWidth: $squareSize * 0.5;
$avenueWidth: $squareSize * 1;

/* -------------------------------
  bill
 */
// area
$billStandardWide:    $landBasis * 0.5;
$billStandardLength:  $billStandardWide;
$billRectangleWide:   $landBasis * 0.4;
$billRectangleLength: $landBasis * 0.75;
$billThinWide:        $landBasis * 0.25;
$billThinLength:      $billThinWide;

// height
$billStandardSize: $landBasis * 0.5;
$billLowHeight:    $billStandardSize;
$billMediumHeight: $billLowHeight * 2; // must integer
$billHighHeight:   $billLowHeight * 3; // must integer

/* -------------------------------
  transport
 */
$transportHeightBase: $squareSize * 0.15;

// car size
$carWidth: $squareSize * 0.2;
$carHeight: $transportHeightBase;
$carDepth: $squareSize * 0.15;
$shortSideDepth: $carDepth * 0.9;

// car speed
$carAverageSpeed: 15s;

/* -------------------------------
  COLOR
 */
// land
$cityGroundColor: #D6B386;
$grassColor: #9FC76B;

// road
$roadAsphaltColor: #999999;
$roadLineColor: #E4EAEC;

// bill
$billStandardColor: darken(#F2F5FF, 1%);
$billBrownColor   : darken(#F0E5DE, 1%);
$billBlueColor: #79AAD7;
$billGreenColor: #B3CD82;
$billWindowBlueColor: #ABC4D0;
$billWindowBrownColor: #C7C3BF;

// car
$carWindowColor: #ABD0CE;
$carTireColor: #333;
$carNumberPlateColor: #FFF;
$carRedColor: #FF602E;
$carBlueColor: #2E58FF;

//pending
$skyColor: #BEE1E5;
$cloudColor: #FFF;
