/* -------------------------------
  BASIS
 */
$squareSize: 200px;

/* -------------------------------
  Land
 */
$cityDepth: 30px;
$cityGroundColor: #D6B386;

$landDepth:  15px;
$landBasis:  $squareSize;
$landWide:   $landBasis;
$landLength: $landBasis;


/* -------------------------------
  Road
 */
$roadDepth:  10px;
$streetWidth: $squareSize * 0.5;
$avenueWidth: $squareSize * 1;
$roadAsphaltColor: #8D9192;
$roadLineColor: #E4EAEC;


/* -------------------------------
  bill
 */
// area
$billStandardWide:    $landBasis * 0.5;
$billStandardLength:  $billStandardWide;
$billRectangleWide:   $landBasis * 0.4;
$billRectangleLength: $landBasis * 0.75;
$billThinWide:        $landBasis * 0.25;
$billThinLength:      $billThinWide;

// height
$billStandardSize: $landBasis * 0.5;
$billLowHeight:    $billStandardSize;
$billMediumHeight: $billLowHeight * 2; // must integer
$billHighHeight:   $billLowHeight * 3; // must integer


// color - left side on bill
$billStandardColor: #F2F5FF;
$billBrownColor   : #F3E6D4;

$billBlueColor: #79AAD7;
$billGreenColor: #B3CD82;
$billWindowColor: transparentize(#86B8D6, 1-0.8);


/* -------------------------------
  transport
 */
$transportHeightBase: $squareSize * 0.15;

// car size
$carWidth: $squareSize * 0.2;
$carHeight: $transportHeightBase;
$carDepth: $squareSize * 0.15;
$shortSideDepth: $carDepth * 0.9;

// car base color
$carWindowColor: #8CC2EB;
$carTireColor: #333;
$carNumberPlateColor: #FFF;

// car color variation
$carRedColor: #f10a00;
$carBlueColor: blue;

// car speed
$carAverageSpeed: 15s;



/* -------------------------------
  pending
 */
$skyColor: #BEE1E5;
$cloudColor: #FFF;
$grassColor: #8CB836;


