/* -------------------------------
  BASIS
 */
/* -------------------------------
  Land
 */
/* -------------------------------
  Road
 */
/* -------------------------------
  bill
 */
/* -------------------------------
  pending
 */
/* ------------------------
  bill
 */
.city {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  width: 1200px;
  /* 3d view */
  perspective: 100000px;
  perspective-origin: top left;
  transform-style: preserve-3d;
  transform: rotateX(70deg) rotateY(0deg) rotateZ(-45deg) translateX(400px);
  /* style */ }
  .city:before {
    content: "";
    position: absolute;
    transform-origin: top right;
    transform: rotateY(-90deg);
    width: 30px;
    height: 100%;
    top: 0;
    left: -30px;
    background-color: #D6B386; }
  .city:after {
    content: "";
    position: absolute;
    transform-origin: top;
    transform: rotateX(-90deg);
    width: 100%;
    height: 30px;
    bottom: -30px;
    left: 0;
    background-color: #d0a773; }

.block {
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  max-width: 200px;
  max-height: 200px;
  transform-style: preserve-3d; }
  .block.wide1 {
    max-width: 200px; }
  .block.length1 {
    max-height: 200px; }
  .block.wide2 {
    max-width: 400px; }
  .block.length2 {
    max-height: 400px; }
  .block.wide3 {
    max-width: 600px; }
  .block.length3 {
    max-height: 600px; }
  .block.wide4 {
    max-width: 800px; }
  .block.length4 {
    max-height: 800px; }
  .block.wide5 {
    max-width: 1000px; }
  .block.length5 {
    max-height: 1000px; }
  .block.wide6 {
    max-width: 1200px; }
  .block.length6 {
    max-height: 1200px; }
  .block.wide7 {
    max-width: 1400px; }
  .block.length7 {
    max-height: 1400px; }
  .block.wide8 {
    max-width: 1600px; }
  .block.length8 {
    max-height: 1600px; }
  .block.wide9 {
    max-width: 1800px; }
  .block.length9 {
    max-height: 1800px; }
  .block.wide10 {
    max-width: 2000px; }
  .block.length10 {
    max-height: 2000px; }

/*----------------
  land
*/
.address {
  flex-shrink: 0;
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #8CB836;
  transform: translateZ(15px);
  transform-style: preserve-3d; }
  .address:before {
    content: "";
    position: absolute;
    transform-origin: top right;
    transform: rotateY(-90deg);
    width: 15px;
    height: 200px;
    top: 0;
    left: -15px;
    background-color: #6e912a; }
  .address:after {
    content: "";
    position: absolute;
    transform-origin: top;
    transform: rotateX(-90deg);
    width: 200px;
    height: 15px;
    bottom: -15px;
    left: 0;
    background-color: #5f7d25; }

/*-------------------------
  road
 */
.street {
  position: relative;
  flex-shrink: 0;
  width: 100px;
  background-image: linear-gradient(to bottom, #8D9192, #8D9192 20px, transparent 20px, transparent 80px, #8D9192 80px, #8D9192), linear-gradient(to right, #8D9192, #8D9192 49%, #E4EAEC 49%, #E4EAEC 51%, #8D9192 51%, #8D9192);
  background-size: 100px 100px, 100px 100px;
  background-repeat: repeat-y;
  transform: translateZ(10px);
  transform-style: preserve-3d; }
  .street:before {
    content: "";
    position: absolute;
    transform-origin: top right;
    transform: rotateY(-90deg);
    width: 10px;
    height: 100%;
    top: 0;
    left: -10px;
    background-color: #737879; }
  .street:after {
    content: "";
    position: absolute;
    transform-origin: top;
    transform: rotateX(-90deg);
    width: 100%;
    height: 10px;
    bottom: -10px;
    left: 0;
    background-color: #6e7273; }

.avenue {
  position: relative;
  width: 100%;
  height: 200px;
  background-image: linear-gradient(to bottom, transparent, transparent 48%, #E4EAEC 48%, #E4EAEC 52%, transparent 52%, transparent), linear-gradient(to right, #8D9192, #8D9192 20px, transparent 20px, transparent 80px, #8D9192 80px, #8D9192), linear-gradient(to bottom, #8D9192, #8D9192 49%, #E4EAEC 49%, #E4EAEC 51%, #8D9192 51%, #8D9192);
  background-size: 200px 200px, 100px 100px, 100px 100px;
  background-repeat: repeat;
  transform: translateZ(10px);
  transform-style: preserve-3d; }
  .avenue:before {
    content: "";
    position: absolute;
    transform-origin: top right;
    transform: rotateY(-90deg);
    width: 10px;
    height: 100%;
    top: 0;
    left: -10px;
    background-color: #737879; }
  .avenue:after {
    content: "";
    position: absolute;
    transform-origin: top;
    transform: rotateX(-90deg);
    width: 100%;
    height: 10px;
    bottom: -10px;
    left: 0;
    background-color: #6e7273; }

/*-------------------------
  building
 */
.bill {
  /* base */
  position: absolute;
  margin-left: 50px;
  margin-top: 50px;
  width: 100px;
  height: 100px;
  transform: translateZ(200px);
  transform-style: preserve-3d;
  background-color: #f7f9ff;
  /* height variation */
  /* shape variation */
  /* color & window variation */ }
  .bill:before {
    content: "";
    position: absolute;
    transform-origin: top right;
    transform: rotateY(-90deg);
    width: 200px;
    height: 100px;
    top: 0;
    left: -200px;
    background-image: linear-gradient(to bottom, #F2F5FF, #F2F5FF 17%, transparent 17%, transparent 27%, #F2F5FF 27%, #F2F5FF 31%, transparent 31%, transparent 41%, #F2F5FF 41%, #F2F5FF 45%, transparent 45%, transparent 55%, #F2F5FF 55%, #F2F5FF 59%, transparent 59%, transparent 69%, #F2F5FF 69%, #F2F5FF 73%, transparent 73%, transparent 83%, #F2F5FF 83%, #F2F5FF), repeating-linear-gradient(to left, #F2F5FF, #F2F5FF 15px, #7292AB 15px, #7292AB 30px, #F2F5FF 30px, #F2F5FF 35px, #7292AB 35px, #7292AB 50px, #F2F5FF 50px, #F2F5FF 55px, #7292AB 55px, #7292AB 70px, #F2F5FF 70px, #F2F5FF 75px, #7292AB 75px, #7292AB 90px, #F2F5FF 90px, #F2F5FF 100px);
    background-color: #F2F5FF; }
  .bill:after {
    content: "";
    position: absolute;
    transform-origin: top;
    transform: rotateX(-90deg);
    width: 100px;
    height: 200px;
    bottom: -200px;
    left: 0;
    background-image: linear-gradient(to left, #edf1ff, #edf1ff 17%, transparent 17%, transparent 27%, #edf1ff 27%, #edf1ff 31%, transparent 31%, transparent 41%, #edf1ff 41%, #edf1ff 45%, transparent 45%, transparent 55%, #edf1ff 55%, #edf1ff 59%, transparent 59%, transparent 69%, #edf1ff 69%, #edf1ff 73%, transparent 73%, transparent 83%, #edf1ff 83%, #edf1ff), repeating-linear-gradient(to bottom, #edf1ff, #edf1ff 15px, #7292AB 15px, #7292AB 30px, #edf1ff 30px, #edf1ff 35px, #7292AB 35px, #7292AB 50px, #edf1ff 50px, #edf1ff 55px, #7292AB 55px, #7292AB 70px, #edf1ff 70px, #edf1ff 75px, #7292AB 75px, #7292AB 90px, #edf1ff 90px, #edf1ff 100px);
    background-color: #edf1ff; }
  .bill.high {
    transform: translateZ(300px); }
    .bill.high:before {
      transform-origin: top right;
      transform: rotateY(-90deg);
      width: 300px;
      height: 100px;
      top: 0;
      left: -300px; }
    .bill.high:after {
      transform-origin: top;
      transform: rotateX(-90deg);
      width: 100px;
      height: 300px;
      bottom: -300px;
      left: 0; }
  .bill.middle {
    transform: translateZ(200px); }
    .bill.middle:before {
      transform-origin: top right;
      transform: rotateY(-90deg);
      width: 200px;
      height: 100px;
      top: 0;
      left: -200px; }
    .bill.middle:after {
      transform-origin: top;
      transform: rotateX(-90deg);
      width: 100px;
      height: 200px;
      bottom: -200px;
      left: 0; }
  .bill.low {
    transform: translateZ(100px); }
    .bill.low:before {
      transform-origin: top right;
      transform: rotateY(-90deg);
      width: 100px;
      height: 100px;
      top: 0;
      left: -100px; }
    .bill.low:after {
      transform-origin: top;
      transform: rotateX(-90deg);
      width: 100px;
      height: 100px;
      bottom: -100px;
      left: 0; }
  .bill.rectangle {
    margin-left: 60px;
    margin-top: 25px;
    width: 80px;
    height: 150px; }
    .bill.rectangle:before {
      transform-origin: top right;
      transform: rotateY(-90deg);
      width: 200px;
      height: 150px;
      top: 0;
      left: -200px; }
    .bill.rectangle:after {
      transform-origin: top;
      transform: rotateX(-90deg);
      width: 80px;
      height: 200px;
      bottom: -200px;
      left: 0; }
    .bill.rectangle.high {
      transform: translateZ(300px); }
      .bill.rectangle.high:before {
        transform-origin: top right;
        transform: rotateY(-90deg);
        width: 300px;
        height: 150px;
        top: 0;
        left: -300px; }
      .bill.rectangle.high:after {
        transform-origin: top;
        transform: rotateX(-90deg);
        width: 80px;
        height: 300px;
        bottom: -300px;
        left: 0; }
    .bill.rectangle.middle {
      transform: translateZ(200px); }
      .bill.rectangle.middle:before {
        transform-origin: top right;
        transform: rotateY(-90deg);
        width: 200px;
        height: 150px;
        top: 0;
        left: -200px; }
      .bill.rectangle.middle:after {
        transform-origin: top;
        transform: rotateX(-90deg);
        width: 80px;
        height: 200px;
        bottom: -200px;
        left: 0; }
    .bill.rectangle.low {
      transform: translateZ(100px); }
      .bill.rectangle.low:before {
        transform-origin: top right;
        transform: rotateY(-90deg);
        width: 100px;
        height: 150px;
        top: 0;
        left: -100px; }
      .bill.rectangle.low:after {
        transform-origin: top;
        transform: rotateX(-90deg);
        width: 80px;
        height: 100px;
        bottom: -100px;
        left: 0; }
  .bill.thin {
    margin-left: 75px;
    margin-top: 75px;
    width: 50px;
    height: 50px; }
    .bill.thin:before {
      transform-origin: top right;
      transform: rotateY(-90deg);
      width: 200px;
      height: 50px;
      top: 0;
      left: -200px; }
    .bill.thin:after {
      transform-origin: top;
      transform: rotateX(-90deg);
      width: 50px;
      height: 200px;
      bottom: -200px;
      left: 0; }
    .bill.thin.high {
      transform: translateZ(300px); }
      .bill.thin.high:before {
        transform-origin: top right;
        transform: rotateY(-90deg);
        width: 300px;
        height: 50px;
        top: 0;
        left: -300px; }
      .bill.thin.high:after {
        transform-origin: top;
        transform: rotateX(-90deg);
        width: 50px;
        height: 300px;
        bottom: -300px;
        left: 0; }
    .bill.thin.middle {
      transform: translateZ(200px); }
      .bill.thin.middle:before {
        transform-origin: top right;
        transform: rotateY(-90deg);
        width: 200px;
        height: 50px;
        top: 0;
        left: -200px; }
      .bill.thin.middle:after {
        transform-origin: top;
        transform: rotateX(-90deg);
        width: 50px;
        height: 200px;
        bottom: -200px;
        left: 0; }
    .bill.thin.low {
      transform: translateZ(100px); }
      .bill.thin.low:before {
        transform-origin: top right;
        transform: rotateY(-90deg);
        width: 100px;
        height: 50px;
        top: 0;
        left: -100px; }
      .bill.thin.low:after {
        transform-origin: top;
        transform: rotateX(-90deg);
        width: 50px;
        height: 100px;
        bottom: -100px;
        left: 0; }
    .bill.thin + .thin {
      margin-left: 25px;
      margin-top: 100px; }
  .bill.brown {
    background-color: #f4e8d8;
    box-shadow: 15px 15px 0 0 #faf4ec inset, -15px -15px 0 0 #faf4ec inset, 0 0 15px 15px rgba(204, 204, 204, 0.3) inset; }
    .bill.brown:before {
      background-image: linear-gradient(to bottom, #F3E6D4, #F3E6D4 10%, transparent 10%, transparent 90%, #F3E6D4 90%, #F3E6D4), repeating-linear-gradient(to left, #F3E6D4, #F3E6D4 8px, #C6B09D 8px, #C6B09D 16px, #F3E6D4 16px, #F3E6D4 18px, #C6B09D 18px, #C6B09D 24px, #F3E6D4 24px, #F3E6D4 26px, #C6B09D 26px, #C6B09D 34px, #F3E6D4 34px, #F3E6D4 36px, #C6B09D 36px, #C6B09D 44px, #F3E6D4 44px, #F3E6D4 50px); }
    .bill.brown:after {
      background-image: linear-gradient(to left, #F3E6D4, #F3E6D4 10%, transparent 10%, transparent 90%, #F3E6D4 90%, #F3E6D4), repeating-linear-gradient(to bottom, #F3E6D4, #F3E6D4 8px, #C6B09D 8px, #C6B09D 16px, #F3E6D4 16px, #F3E6D4 18px, #C6B09D 18px, #C6B09D 24px, #F3E6D4 24px, #F3E6D4 26px, #C6B09D 26px, #C6B09D 34px, #F3E6D4 34px, #F3E6D4 36px, #C6B09D 36px, #C6B09D 44px, #F3E6D4 44px, #F3E6D4 50px); }

/*
@import "components/sky";
@import "components/tree";
@import "components/car";
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=style.css.map */
