/* -------------------------------
  BASIS
 */
/* -------------------------------
  City Planning
 */
/* -------------------------------
  Land
 */
/* -------------------------------
  bill
 */
/* -------------------------------
  pending
 */
/* ------------------------
  bill
 */
.city {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  width: 1200px;
  /* 3d view */
  perspective: 100000px;
  perspective-origin: top left;
  transform-style: preserve-3d;
  transform: rotateX(70deg) rotateY(0deg) rotateZ(-45deg) translateX(400px); }

.block {
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  max-width: 200px;
  max-height: 200px;
  transform-style: preserve-3d; }
  .block.wide1 {
    max-width: 200px; }
  .block.length1 {
    max-height: 200px; }
  .block.wide2 {
    max-width: 400px; }
  .block.length2 {
    max-height: 400px; }
  .block.wide3 {
    max-width: 600px; }
  .block.length3 {
    max-height: 600px; }
  .block.wide4 {
    max-width: 800px; }
  .block.length4 {
    max-height: 800px; }
  .block.wide5 {
    max-width: 1000px; }
  .block.length5 {
    max-height: 1000px; }
  .block.wide6 {
    max-width: 1200px; }
  .block.length6 {
    max-height: 1200px; }
  .block.wide7 {
    max-width: 1400px; }
  .block.length7 {
    max-height: 1400px; }
  .block.wide8 {
    max-width: 1600px; }
  .block.length8 {
    max-height: 1600px; }
  .block.wide9 {
    max-width: 1800px; }
  .block.length9 {
    max-height: 1800px; }
  .block.wide10 {
    max-width: 2000px; }
  .block.length10 {
    max-height: 2000px; }

.sky {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100%; }

.cloud {
  transform: rotate(-6deg) skew(30deg) scale(0.8165, 0.7071);
  position: absolute;
  top: 0;
  width: 180px;
  height: 80px;
  background-color: #FFF;
  border-radius: 100px / 70px;
  box-shadow: 0 5px 15px 1px rgba(117, 191, 200, 0.2), -290px 400px 20px 5px rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  /* animation */ }
  .cloud:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 70px;
    left: 40px;
    top: -25px;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: -4px -1px 2px -1px #E2EBF0; }
  .cloud:after {
    content: "";
    position: absolute;
    width: 85px;
    height: 75px;
    right: 7px;
    top: -30px;
    background-color: #FFF;
    border-radius: 50%;
    box-shadow: -4px -3px 5px -1px #E2EBF0; }
  .cloud:nth-of-type(1) {
    top: 259px; }
  .cloud:nth-of-type(2) {
    top: 450px; }
  .cloud:nth-of-type(3) {
    top: 621px; }
  .cloud:nth-of-type(4) {
    top: 874px; }
  .cloud:nth-of-type(5) {
    top: 1097px; }
  .cloud:nth-of-type(6) {
    top: 1289px; }
  .cloud:nth-of-type(7) {
    top: 1454px; }
  .cloud:nth-of-type(8) {
    top: 1689px; }
  .cloud:nth-of-type(9) {
    top: 1847px; }
  .cloud:nth-of-type(10) {
    top: 2013px; }
  .cloud.move {
    opacity: 0;
    animation-name: cloudMove;
    animation-duration: 30s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
    .cloud.move:nth-of-type(1) {
      animation-duration: 42s;
      animation-delay: 10s; }
    .cloud.move:nth-of-type(2) {
      animation-duration: 39s;
      animation-delay: 5s; }
    .cloud.move:nth-of-type(3) {
      animation-duration: 41s;
      animation-delay: 4s; }
    .cloud.move:nth-of-type(4) {
      animation-duration: 44s;
      animation-delay: 9s; }
    .cloud.move:nth-of-type(5) {
      animation-duration: 33s;
      animation-delay: 4s; }
    .cloud.move:nth-of-type(6) {
      animation-duration: 40s;
      animation-delay: 2s; }
    .cloud.move:nth-of-type(7) {
      animation-duration: 43s;
      animation-delay: 4s; }
    .cloud.move:nth-of-type(8) {
      animation-duration: 31s;
      animation-delay: 4s; }
    .cloud.move:nth-of-type(9) {
      animation-duration: 46s;
      animation-delay: 3s; }
    .cloud.move:nth-of-type(10) {
      animation-duration: 39s;
      animation-delay: 7s; }
@keyframes cloudMove {
  0% {
    transform: rotate(-6deg) skew(30deg) scale(0.8165, 0.7071) translateX(0);
    opacity: 0; }
  20% {
    opacity: 0.8; }
  100% {
    transform: rotate(-6deg) skew(30deg) scale(0.8165, 0.7071) translateX(100vw);
    opacity: 0; } }
/*----------------
  land
*/
.address {
  flex-shrink: 0;
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #8CB836;
  transform: translateZ(10px);
  transform-style: preserve-3d; }
  .address:before {
    content: "";
    position: absolute;
    transform-origin: top right;
    transform: rotateY(-90deg);
    width: 10px;
    height: 200px;
    top: 0;
    left: -10px;
    background-color: #6e912a; }
  .address:after {
    content: "";
    position: absolute;
    transform-origin: top;
    transform: rotateX(-90deg);
    width: 200px;
    height: 10px;
    bottom: -10px;
    left: 0;
    background-color: #5f7d25; }

/*-------------------------
  road
 */
.street {
  position: relative;
  flex-shrink: 0;
  width: 100px;
  height: 400px;
  background-image: linear-gradient(to bottom, #8D9192, #8D9192 20px, transparent 20px, transparent 80px, #8D9192 80px, #8D9192), linear-gradient(to right, #8D9192, #8D9192 48%, #FFF 48%, #FFF 52%, #8D9192 52%, #8D9192);
  background-size: 100px 100px, 100px 100px;
  background-repeat: repeat-y; }

.avenue {
  position: relative;
  padding: 5px 0;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(to bottom, #8D9192, #8D9192 48%, transparent 48%, transparent 52%, #8D9192 52%, #8D9192), repeating-linear-gradient(to right, #FFF, #FFF 40px, #8D9192 40px, #8D9192 80px, #FFF 80px, #FFF 100px); }

/*-------------------------
  building
 */
.bill {
  /* base */
  position: absolute;
  margin-left: 50px;
  margin-top: 50px;
  width: 100px;
  height: 100px;
  transform: translateZ(200px);
  transform-style: preserve-3d;
  background-color: #f7f9ff;
  /* height variation */
  /* shape variation */
  /* color & window variation */ }
  .bill:before {
    content: "";
    position: absolute;
    transform-origin: top right;
    transform: rotateY(-90deg);
    width: 200px;
    height: 100px;
    top: 0;
    left: -200px;
    background-image: linear-gradient(to bottom, #F2F5FF, #F2F5FF 17%, transparent 17%, transparent 27%, #F2F5FF 27%, #F2F5FF 31%, transparent 31%, transparent 41%, #F2F5FF 41%, #F2F5FF 45%, transparent 45%, transparent 55%, #F2F5FF 55%, #F2F5FF 59%, transparent 59%, transparent 69%, #F2F5FF 69%, #F2F5FF 73%, transparent 73%, transparent 83%, #F2F5FF 83%, #F2F5FF), repeating-linear-gradient(to left, #F2F5FF, #F2F5FF 15px, #7292AB 15px, #7292AB 30px, #F2F5FF 30px, #F2F5FF 35px, #7292AB 35px, #7292AB 50px, #F2F5FF 50px, #F2F5FF 55px, #7292AB 55px, #7292AB 70px, #F2F5FF 70px, #F2F5FF 75px, #7292AB 75px, #7292AB 90px, #F2F5FF 90px, #F2F5FF 100px);
    background-color: #F2F5FF; }
  .bill:after {
    content: "";
    position: absolute;
    transform-origin: top;
    transform: rotateX(-90deg);
    width: 100px;
    height: 200px;
    bottom: -200px;
    left: 0;
    background-image: linear-gradient(to left, #edf1ff, #edf1ff 17%, transparent 17%, transparent 27%, #edf1ff 27%, #edf1ff 31%, transparent 31%, transparent 41%, #edf1ff 41%, #edf1ff 45%, transparent 45%, transparent 55%, #edf1ff 55%, #edf1ff 59%, transparent 59%, transparent 69%, #edf1ff 69%, #edf1ff 73%, transparent 73%, transparent 83%, #edf1ff 83%, #edf1ff), repeating-linear-gradient(to bottom, #edf1ff, #edf1ff 15px, #7292AB 15px, #7292AB 30px, #edf1ff 30px, #edf1ff 35px, #7292AB 35px, #7292AB 50px, #edf1ff 50px, #edf1ff 55px, #7292AB 55px, #7292AB 70px, #edf1ff 70px, #edf1ff 75px, #7292AB 75px, #7292AB 90px, #edf1ff 90px, #edf1ff 100px);
    background-color: #edf1ff; }
  .bill.high {
    transform: translateZ(300px); }
    .bill.high:before {
      transform-origin: top right;
      transform: rotateY(-90deg);
      width: 300px;
      height: 100px;
      top: 0;
      left: -300px; }
    .bill.high:after {
      transform-origin: top;
      transform: rotateX(-90deg);
      width: 100px;
      height: 300px;
      bottom: -300px;
      left: 0; }
  .bill.middle {
    transform: translateZ(200px); }
    .bill.middle:before {
      transform-origin: top right;
      transform: rotateY(-90deg);
      width: 200px;
      height: 100px;
      top: 0;
      left: -200px; }
    .bill.middle:after {
      transform-origin: top;
      transform: rotateX(-90deg);
      width: 100px;
      height: 200px;
      bottom: -200px;
      left: 0; }
  .bill.low {
    transform: translateZ(100px); }
    .bill.low:before {
      transform-origin: top right;
      transform: rotateY(-90deg);
      width: 100px;
      height: 100px;
      top: 0;
      left: -100px; }
    .bill.low:after {
      transform-origin: top;
      transform: rotateX(-90deg);
      width: 100px;
      height: 100px;
      bottom: -100px;
      left: 0; }
  .bill.rectangle {
    margin-left: 60px;
    margin-top: 25px;
    width: 80px;
    height: 150px; }
    .bill.rectangle:before {
      transform-origin: top right;
      transform: rotateY(-90deg);
      width: 200px;
      height: 150px;
      top: 0;
      left: -200px; }
    .bill.rectangle:after {
      transform-origin: top;
      transform: rotateX(-90deg);
      width: 80px;
      height: 200px;
      bottom: -200px;
      left: 0; }
    .bill.rectangle.high {
      transform: translateZ(300px); }
      .bill.rectangle.high:before {
        transform-origin: top right;
        transform: rotateY(-90deg);
        width: 300px;
        height: 150px;
        top: 0;
        left: -300px; }
      .bill.rectangle.high:after {
        transform-origin: top;
        transform: rotateX(-90deg);
        width: 80px;
        height: 300px;
        bottom: -300px;
        left: 0; }
    .bill.rectangle.middle {
      transform: translateZ(200px); }
      .bill.rectangle.middle:before {
        transform-origin: top right;
        transform: rotateY(-90deg);
        width: 200px;
        height: 150px;
        top: 0;
        left: -200px; }
      .bill.rectangle.middle:after {
        transform-origin: top;
        transform: rotateX(-90deg);
        width: 80px;
        height: 200px;
        bottom: -200px;
        left: 0; }
    .bill.rectangle.low {
      transform: translateZ(100px); }
      .bill.rectangle.low:before {
        transform-origin: top right;
        transform: rotateY(-90deg);
        width: 100px;
        height: 150px;
        top: 0;
        left: -100px; }
      .bill.rectangle.low:after {
        transform-origin: top;
        transform: rotateX(-90deg);
        width: 80px;
        height: 100px;
        bottom: -100px;
        left: 0; }
  .bill.thin {
    margin-left: 75px;
    margin-top: 75px;
    width: 50px;
    height: 50px; }
    .bill.thin:before {
      transform-origin: top right;
      transform: rotateY(-90deg);
      width: 200px;
      height: 50px;
      top: 0;
      left: -200px; }
    .bill.thin:after {
      transform-origin: top;
      transform: rotateX(-90deg);
      width: 50px;
      height: 200px;
      bottom: -200px;
      left: 0; }
    .bill.thin.high {
      transform: translateZ(300px); }
      .bill.thin.high:before {
        transform-origin: top right;
        transform: rotateY(-90deg);
        width: 300px;
        height: 50px;
        top: 0;
        left: -300px; }
      .bill.thin.high:after {
        transform-origin: top;
        transform: rotateX(-90deg);
        width: 50px;
        height: 300px;
        bottom: -300px;
        left: 0; }
    .bill.thin.middle {
      transform: translateZ(200px); }
      .bill.thin.middle:before {
        transform-origin: top right;
        transform: rotateY(-90deg);
        width: 200px;
        height: 50px;
        top: 0;
        left: -200px; }
      .bill.thin.middle:after {
        transform-origin: top;
        transform: rotateX(-90deg);
        width: 50px;
        height: 200px;
        bottom: -200px;
        left: 0; }
    .bill.thin.low {
      transform: translateZ(100px); }
      .bill.thin.low:before {
        transform-origin: top right;
        transform: rotateY(-90deg);
        width: 100px;
        height: 50px;
        top: 0;
        left: -100px; }
      .bill.thin.low:after {
        transform-origin: top;
        transform: rotateX(-90deg);
        width: 50px;
        height: 100px;
        bottom: -100px;
        left: 0; }
    .bill.thin + .thin {
      margin-left: 25px;
      margin-top: 100px; }
  .bill.brown {
    background-color: #f4e8d8;
    box-shadow: 15px 15px 0 0 #faf4ec inset, -15px -15px 0 0 #faf4ec inset, 0 0 15px 15px rgba(204, 204, 204, 0.3) inset; }
    .bill.brown:before {
      background-image: linear-gradient(to bottom, #F3E6D4, #F3E6D4 10%, transparent 10%, transparent 90%, #F3E6D4 90%, #F3E6D4), repeating-linear-gradient(to left, #F3E6D4, #F3E6D4 8px, #C6B09D 8px, #C6B09D 16px, #F3E6D4 16px, #F3E6D4 18px, #C6B09D 18px, #C6B09D 24px, #F3E6D4 24px, #F3E6D4 26px, #C6B09D 26px, #C6B09D 34px, #F3E6D4 34px, #F3E6D4 36px, #C6B09D 36px, #C6B09D 44px, #F3E6D4 44px, #F3E6D4 50px); }
    .bill.brown:after {
      background-image: linear-gradient(to left, #F3E6D4, #F3E6D4 10%, transparent 10%, transparent 90%, #F3E6D4 90%, #F3E6D4), repeating-linear-gradient(to bottom, #F3E6D4, #F3E6D4 8px, #C6B09D 8px, #C6B09D 16px, #F3E6D4 16px, #F3E6D4 18px, #C6B09D 18px, #C6B09D 24px, #F3E6D4 24px, #F3E6D4 26px, #C6B09D 26px, #C6B09D 34px, #F3E6D4 34px, #F3E6D4 36px, #C6B09D 36px, #C6B09D 44px, #F3E6D4 44px, #F3E6D4 50px); }

/*-------------------------
  tree
 */
.tree {
  position: relative;
  width: 50px;
  height: 50px; }
  .tree:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 30px;
    background-image: linear-gradient(to right top, #8D7A5A, #8D7A5A 10%, #9B8963);
    left: 21px;
    bottom: 10px;
    border-radius: 0 0 4px 8px;
    transform: skewX(-45deg); }
  .tree:after {
    content: "";
    position: absolute;
    transform: skewX(-45deg); }
  .tree.slender:after {
    bottom: 30px;
    left: 50px;
    width: 35px;
    height: 70px;
    border-radius: 100% 100% 80% 80%;
    background-image: radial-gradient(ellipse farthest-corner, #699C6F, #699C6F 20%, #478146);
    box-shadow: 1px 1px 1px 0 #478146; }
  .tree.thick:after {
    bottom: 12px;
    left: 20px;
    width: 56px;
    height: 65px;
    background: linear-gradient(to top, #98A84A, #8A9843);
    transform: rotateZ(-130deg);
    border-radius: 80% 100% / 64% 100%; }

/*-------------------------
  car
 */
.car {
  position: absolute;
  width: 55px;
  height: 30px;
  /* color */
  /* animation */ }
  .car:before {
    content: "";
    position: absolute;
    top: -7px;
    border-radius: 6px;
    width: 24px;
    height: 25px; }
  .car:after {
    content: "";
    position: absolute;
    left: 3px;
    bottom: -13px;
    width: 12px;
    height: 12px;
    background-color: #3C4953;
    border-radius: 50%;
    transform: skew(-30deg);
    box-shadow: 28px 0 0 0 #3C4953; }
  .car.toWest {
    right: 0;
    top: 0;
    border-radius: 10px 16px 4px 8px; }
    .car.toWest:before {
      right: 3px;
      box-shadow: -6px 4px 0 2px #8CC2EB; }
  .car.toEast {
    left: 0;
    bottom: 25px;
    border-radius: 16px 10px 8px 4px; }
    .car.toEast:before {
      right: 9px;
      box-shadow: -3px 5px 0 2px #8CC2EB; }
  .car.red {
    background-image: radial-gradient(ellipse farthest-corner, #E30C0C, #bc0a0a);
    box-shadow: -3px 5px 0 2px #bc0a0a; }
    .car.red:before {
      background-color: #E30C0C; }
  .car.blue {
    background-image: radial-gradient(ellipse farthest-corner, #1B53B4, #164391);
    box-shadow: -3px 5px 0 2px #164391; }
    .car.blue:before {
      background-color: #1B53B4; }
  .car.green {
    background-image: radial-gradient(ellipse farthest-corner, #3CC1A9, #32a28e);
    box-shadow: -3px 5px 0 2px #32a28e; }
    .car.green:before {
      background-color: #3CC1A9; }
  .car.run {
    animation-duration: 15s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
  .car.run.toWest {
    animation-name: onAvenueToRight; }
  .car.run.toEast {
    animation-name: onAvenueToLeft; }
@keyframes onAvenueToRight {
  from {
    right: 0%; }
  to {
    right: 100%; } }
@keyframes onAvenueToLeft {
  from {
    left: 0%; }
  to {
    left: 100%; } }
.avenue:nth-of-type(1) .car.run:nth-of-type(1) {
  animation-duration: 18s;
  animation-delay: 2s; }
.avenue:nth-of-type(1) .car.run:nth-of-type(2) {
  animation-duration: 20s;
  animation-delay: 1s; }
.avenue:nth-of-type(1) .car.run:nth-of-type(3) {
  animation-duration: 20s;
  animation-delay: 3s; }
.avenue:nth-of-type(1) .car.run:nth-of-type(4) {
  animation-duration: 12s;
  animation-delay: 1s; }
.avenue:nth-of-type(1) .car.run:nth-of-type(5) {
  animation-duration: 14s;
  animation-delay: 3s; }
.avenue:nth-of-type(1) .car.run:nth-of-type(6) {
  animation-duration: 22s;
  animation-delay: 2s; }
.avenue:nth-of-type(1) .car.run:nth-of-type(7) {
  animation-duration: 16s;
  animation-delay: 3s; }
.avenue:nth-of-type(1) .car.run:nth-of-type(8) {
  animation-duration: 12s;
  animation-delay: 1s; }
.avenue:nth-of-type(1) .car.run:nth-of-type(9) {
  animation-duration: 18s;
  animation-delay: 2s; }
.avenue:nth-of-type(1) .car.run:nth-of-type(10) {
  animation-duration: 14s;
  animation-delay: 2s; }

.avenue:nth-of-type(2) .car.run:nth-of-type(1) {
  animation-duration: 24s;
  animation-delay: 1s; }
.avenue:nth-of-type(2) .car.run:nth-of-type(2) {
  animation-duration: 12s;
  animation-delay: 2s; }
.avenue:nth-of-type(2) .car.run:nth-of-type(3) {
  animation-duration: 28s;
  animation-delay: 2s; }
.avenue:nth-of-type(2) .car.run:nth-of-type(4) {
  animation-duration: 28s;
  animation-delay: 1s; }
.avenue:nth-of-type(2) .car.run:nth-of-type(5) {
  animation-duration: 26s;
  animation-delay: 1s; }
.avenue:nth-of-type(2) .car.run:nth-of-type(6) {
  animation-duration: 24s;
  animation-delay: 3s; }
.avenue:nth-of-type(2) .car.run:nth-of-type(7) {
  animation-duration: 18s;
  animation-delay: 2s; }
.avenue:nth-of-type(2) .car.run:nth-of-type(8) {
  animation-duration: 16s;
  animation-delay: 1s; }
.avenue:nth-of-type(2) .car.run:nth-of-type(9) {
  animation-duration: 10s;
  animation-delay: 2s; }
.avenue:nth-of-type(2) .car.run:nth-of-type(10) {
  animation-duration: 24s;
  animation-delay: 2s; }

.avenue:nth-of-type(3) .car.run:nth-of-type(1) {
  animation-duration: 20s;
  animation-delay: 1s; }
.avenue:nth-of-type(3) .car.run:nth-of-type(2) {
  animation-duration: 10s;
  animation-delay: 2s; }
.avenue:nth-of-type(3) .car.run:nth-of-type(3) {
  animation-duration: 10s;
  animation-delay: 1s; }
.avenue:nth-of-type(3) .car.run:nth-of-type(4) {
  animation-duration: 26s;
  animation-delay: 2s; }
.avenue:nth-of-type(3) .car.run:nth-of-type(5) {
  animation-duration: 20s;
  animation-delay: 2s; }
.avenue:nth-of-type(3) .car.run:nth-of-type(6) {
  animation-duration: 24s;
  animation-delay: 1s; }
.avenue:nth-of-type(3) .car.run:nth-of-type(7) {
  animation-duration: 20s;
  animation-delay: 1s; }
.avenue:nth-of-type(3) .car.run:nth-of-type(8) {
  animation-duration: 26s;
  animation-delay: 2s; }
.avenue:nth-of-type(3) .car.run:nth-of-type(9) {
  animation-duration: 24s;
  animation-delay: 2s; }
.avenue:nth-of-type(3) .car.run:nth-of-type(10) {
  animation-duration: 28s;
  animation-delay: 1s; }

.avenue:nth-of-type(4) .car.run:nth-of-type(1) {
  animation-duration: 16s;
  animation-delay: 1s; }
.avenue:nth-of-type(4) .car.run:nth-of-type(2) {
  animation-duration: 20s;
  animation-delay: 1s; }
.avenue:nth-of-type(4) .car.run:nth-of-type(3) {
  animation-duration: 16s;
  animation-delay: 2s; }
.avenue:nth-of-type(4) .car.run:nth-of-type(4) {
  animation-duration: 22s;
  animation-delay: 3s; }
.avenue:nth-of-type(4) .car.run:nth-of-type(5) {
  animation-duration: 14s;
  animation-delay: 1s; }
.avenue:nth-of-type(4) .car.run:nth-of-type(6) {
  animation-duration: 26s;
  animation-delay: 3s; }
.avenue:nth-of-type(4) .car.run:nth-of-type(7) {
  animation-duration: 18s;
  animation-delay: 2s; }
.avenue:nth-of-type(4) .car.run:nth-of-type(8) {
  animation-duration: 18s;
  animation-delay: 3s; }
.avenue:nth-of-type(4) .car.run:nth-of-type(9) {
  animation-duration: 22s;
  animation-delay: 3s; }
.avenue:nth-of-type(4) .car.run:nth-of-type(10) {
  animation-duration: 10s;
  animation-delay: 1s; }

.avenue:nth-of-type(5) .car.run:nth-of-type(1) {
  animation-duration: 12s;
  animation-delay: 2s; }
.avenue:nth-of-type(5) .car.run:nth-of-type(2) {
  animation-duration: 16s;
  animation-delay: 3s; }
.avenue:nth-of-type(5) .car.run:nth-of-type(3) {
  animation-duration: 16s;
  animation-delay: 3s; }
.avenue:nth-of-type(5) .car.run:nth-of-type(4) {
  animation-duration: 18s;
  animation-delay: 3s; }
.avenue:nth-of-type(5) .car.run:nth-of-type(5) {
  animation-duration: 24s;
  animation-delay: 3s; }
.avenue:nth-of-type(5) .car.run:nth-of-type(6) {
  animation-duration: 10s;
  animation-delay: 1s; }
.avenue:nth-of-type(5) .car.run:nth-of-type(7) {
  animation-duration: 24s;
  animation-delay: 2s; }
.avenue:nth-of-type(5) .car.run:nth-of-type(8) {
  animation-duration: 22s;
  animation-delay: 3s; }
.avenue:nth-of-type(5) .car.run:nth-of-type(9) {
  animation-duration: 14s;
  animation-delay: 3s; }
.avenue:nth-of-type(5) .car.run:nth-of-type(10) {
  animation-duration: 28s;
  animation-delay: 2s; }

.avenue:nth-of-type(6) .car.run:nth-of-type(1) {
  animation-duration: 10s;
  animation-delay: 1s; }
.avenue:nth-of-type(6) .car.run:nth-of-type(2) {
  animation-duration: 16s;
  animation-delay: 1s; }
.avenue:nth-of-type(6) .car.run:nth-of-type(3) {
  animation-duration: 10s;
  animation-delay: 3s; }
.avenue:nth-of-type(6) .car.run:nth-of-type(4) {
  animation-duration: 10s;
  animation-delay: 3s; }
.avenue:nth-of-type(6) .car.run:nth-of-type(5) {
  animation-duration: 24s;
  animation-delay: 3s; }
.avenue:nth-of-type(6) .car.run:nth-of-type(6) {
  animation-duration: 28s;
  animation-delay: 1s; }
.avenue:nth-of-type(6) .car.run:nth-of-type(7) {
  animation-duration: 18s;
  animation-delay: 1s; }
.avenue:nth-of-type(6) .car.run:nth-of-type(8) {
  animation-duration: 26s;
  animation-delay: 1s; }
.avenue:nth-of-type(6) .car.run:nth-of-type(9) {
  animation-duration: 18s;
  animation-delay: 1s; }
.avenue:nth-of-type(6) .car.run:nth-of-type(10) {
  animation-duration: 28s;
  animation-delay: 1s; }

.avenue:nth-of-type(7) .car.run:nth-of-type(1) {
  animation-duration: 20s;
  animation-delay: 3s; }
.avenue:nth-of-type(7) .car.run:nth-of-type(2) {
  animation-duration: 22s;
  animation-delay: 2s; }
.avenue:nth-of-type(7) .car.run:nth-of-type(3) {
  animation-duration: 24s;
  animation-delay: 2s; }
.avenue:nth-of-type(7) .car.run:nth-of-type(4) {
  animation-duration: 26s;
  animation-delay: 2s; }
.avenue:nth-of-type(7) .car.run:nth-of-type(5) {
  animation-duration: 18s;
  animation-delay: 3s; }
.avenue:nth-of-type(7) .car.run:nth-of-type(6) {
  animation-duration: 10s;
  animation-delay: 3s; }
.avenue:nth-of-type(7) .car.run:nth-of-type(7) {
  animation-duration: 22s;
  animation-delay: 1s; }
.avenue:nth-of-type(7) .car.run:nth-of-type(8) {
  animation-duration: 10s;
  animation-delay: 3s; }
.avenue:nth-of-type(7) .car.run:nth-of-type(9) {
  animation-duration: 16s;
  animation-delay: 3s; }
.avenue:nth-of-type(7) .car.run:nth-of-type(10) {
  animation-duration: 12s;
  animation-delay: 3s; }

.avenue:nth-of-type(8) .car.run:nth-of-type(1) {
  animation-duration: 18s;
  animation-delay: 3s; }
.avenue:nth-of-type(8) .car.run:nth-of-type(2) {
  animation-duration: 12s;
  animation-delay: 2s; }
.avenue:nth-of-type(8) .car.run:nth-of-type(3) {
  animation-duration: 22s;
  animation-delay: 1s; }
.avenue:nth-of-type(8) .car.run:nth-of-type(4) {
  animation-duration: 10s;
  animation-delay: 1s; }
.avenue:nth-of-type(8) .car.run:nth-of-type(5) {
  animation-duration: 22s;
  animation-delay: 1s; }
.avenue:nth-of-type(8) .car.run:nth-of-type(6) {
  animation-duration: 18s;
  animation-delay: 1s; }
.avenue:nth-of-type(8) .car.run:nth-of-type(7) {
  animation-duration: 12s;
  animation-delay: 2s; }
.avenue:nth-of-type(8) .car.run:nth-of-type(8) {
  animation-duration: 24s;
  animation-delay: 3s; }
.avenue:nth-of-type(8) .car.run:nth-of-type(9) {
  animation-duration: 12s;
  animation-delay: 1s; }
.avenue:nth-of-type(8) .car.run:nth-of-type(10) {
  animation-duration: 14s;
  animation-delay: 3s; }

.avenue:nth-of-type(9) .car.run:nth-of-type(1) {
  animation-duration: 12s;
  animation-delay: 1s; }
.avenue:nth-of-type(9) .car.run:nth-of-type(2) {
  animation-duration: 26s;
  animation-delay: 2s; }
.avenue:nth-of-type(9) .car.run:nth-of-type(3) {
  animation-duration: 26s;
  animation-delay: 2s; }
.avenue:nth-of-type(9) .car.run:nth-of-type(4) {
  animation-duration: 18s;
  animation-delay: 1s; }
.avenue:nth-of-type(9) .car.run:nth-of-type(5) {
  animation-duration: 12s;
  animation-delay: 2s; }
.avenue:nth-of-type(9) .car.run:nth-of-type(6) {
  animation-duration: 22s;
  animation-delay: 3s; }
.avenue:nth-of-type(9) .car.run:nth-of-type(7) {
  animation-duration: 26s;
  animation-delay: 1s; }
.avenue:nth-of-type(9) .car.run:nth-of-type(8) {
  animation-duration: 12s;
  animation-delay: 2s; }
.avenue:nth-of-type(9) .car.run:nth-of-type(9) {
  animation-duration: 28s;
  animation-delay: 3s; }
.avenue:nth-of-type(9) .car.run:nth-of-type(10) {
  animation-duration: 26s;
  animation-delay: 3s; }

.avenue:nth-of-type(10) .car.run:nth-of-type(1) {
  animation-duration: 20s;
  animation-delay: 2s; }
.avenue:nth-of-type(10) .car.run:nth-of-type(2) {
  animation-duration: 16s;
  animation-delay: 1s; }
.avenue:nth-of-type(10) .car.run:nth-of-type(3) {
  animation-duration: 28s;
  animation-delay: 2s; }
.avenue:nth-of-type(10) .car.run:nth-of-type(4) {
  animation-duration: 28s;
  animation-delay: 2s; }
.avenue:nth-of-type(10) .car.run:nth-of-type(5) {
  animation-duration: 12s;
  animation-delay: 1s; }
.avenue:nth-of-type(10) .car.run:nth-of-type(6) {
  animation-duration: 22s;
  animation-delay: 2s; }
.avenue:nth-of-type(10) .car.run:nth-of-type(7) {
  animation-duration: 28s;
  animation-delay: 2s; }
.avenue:nth-of-type(10) .car.run:nth-of-type(8) {
  animation-duration: 12s;
  animation-delay: 2s; }
.avenue:nth-of-type(10) .car.run:nth-of-type(9) {
  animation-duration: 18s;
  animation-delay: 1s; }
.avenue:nth-of-type(10) .car.run:nth-of-type(10) {
  animation-duration: 24s;
  animation-delay: 1s; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=style.css.map */
