@import "variables";
@import "mixin";
@import "layers";
@import "cityPlanning";
@import "components/land";
@import "components/road";
@import "components/building";
@import "components/transport";

/*
@import "components/sky";
@import "components/tree";
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}