/*-------------------------
  building
 */

.bill {
  /* base */
  $billBaseColor:   $billStandardColor;
  $billTopColor:    lighten($billStandardColor, 1%);
  $billShadowColor: darken($billStandardColor, 1%);

  position: absolute;
  margin-left: ($landWide - $billStandardWide)/2;
  margin-top:  ($landLength - $billStandardLength)/2;

  width: $billStandardWide;
  height: $billStandardLength;
  transform: translateZ(-$billMediumHeight);
  background-color: $billTopColor;

  // Pseudo element needs 3d transform
  transform-style: preserve-3d;

  &:before {
    @include pseudoElementBase;
    @include leftBend90deg($billMediumHeight, $billStandardLength);
    @include windowRectangle4x5LeftSide($billBaseColor);
    background-color: $billBaseColor;
  }


  &:after {
    @include pseudoElementBase;
    @include bottomBend90deg($billStandardWide, $billMediumHeight);
    @include windowRectangle4x5BottomSide($billShadowColor);
    background-color: $billShadowColor;
  }

  /* height variation */
  &.high {
    @include billHeightBase($billStandardWide, $billStandardLength, $billHighHeight);
  }

  &.middle {
    @include billHeightBase($billStandardWide, $billStandardLength, $billMediumHeight);
  }

  &.low {
    @include billHeightBase($billStandardWide, $billStandardLength, $billLowHeight);
  }

  /* shape variation */
  &.rectangle {
    margin-left: ($landWide - $billRectangleWide)/2;
    margin-top:  ($landLength - $billRectangleLength)/2;
    width: $billRectangleWide;
    height: $billRectangleLength;

    &:before {
      @include leftBend90deg($billMediumHeight, $billRectangleLength);
    }

    &:after {
      @include bottomBend90deg($billRectangleWide, $billMediumHeight);
    }

    &.high {
      @include billHeightBase($billRectangleWide, $billRectangleLength, $billHighHeight);
    }

    &.middle {
      @include billHeightBase($billRectangleWide, $billRectangleLength, $billMediumHeight);
    }

    &.low {
      @include billHeightBase($billRectangleWide, $billRectangleLength, $billLowHeight);
    }
  }

  &.thin {
    margin-left: ($landWide - $billThinWide)/2;
    margin-top:  ($landLength - $billThinLength)/2;
    width: $billThinWide;
    height: $billThinLength;

    &:before {
      @include leftBend90deg($billMediumHeight, $billThinLength);
    }

    &:after {
      @include bottomBend90deg($billThinWide, $billMediumHeight);
    }

    &.high {
      @include billHeightBase($billThinWide, $billThinLength, $billHighHeight);
    }

    &.middle {
      @include billHeightBase($billThinWide, $billThinLength, $billMediumHeight);
    }

    &.low {
      @include billHeightBase($billThinWide, $billThinLength, $billLowHeight);
    }

    + .thin {
      margin-left: $billThinWide * 0.5;
      margin-top:  $billThinLength * 2;
    }
  }


  /* color & window variation */
  &.brown {
    $billBaseColor:   $billBrownColor;
    $billTopColor:    lighten($billBrownColor, 1%);
    $billShadowColor: darken($billBrownColor, 1%);
    $bllWindowColor:  #C6B09D;

    background-color: $billTopColor;
    box-shadow: 15px 15px 0 0 lighten($billTopColor, 5%) inset,
                -15px -15px 0 0 lighten($billTopColor, 5%) inset,
                0 0 15px 15px transparentize(#CCC, 1-0.3) inset;

    &:before {
      @include windowWiderLeftSide($billBaseColor, $bllWindowColor);
    }

    &:after {
      @include windowWiderBottomSide($billBaseColor, $bllWindowColor);
    }
  }

  &.white {}

  &.gray {}

  &.blue {}
}
