/*-------------------------
  building
 */

.bill {
  $billBaseColor:   $billStandardColor;
  $billTopColor:    lighten($billStandardColor, 1%);
  $billShadowColor: darken($billStandardColor, 1%);

  position: absolute;
  margin-left: ($squareSize - $billStandardSize)/2;
  margin-top:  ($squareSize - $billStandardSize)/2;

  width: $billStandardSize;
  height: $billStandardSize;
  transform: translateZ(-$billMediumHeight);
  background-color: $billTopColor;

  // Pseudo element needs 3d transform
  transform-style: preserve-3d;

  &:before {
    @include pseudoElementBase;
    @include leftBend90deg($billMediumHeight, $billStandardSize);
    @include windowRectangle4x5LeftSide($billBaseColor);
    background-color: $billBaseColor;

  }

  &:after {
    @include pseudoElementBase;
    @include bottomBend90deg($billStandardSize, $billMediumHeight);
    @include windowRectangle4x5BottomSide($billShadowColor);
    background-color: $billShadowColor;
  }

  &.high {
    @include billHeightBase($billStandardSize, $billHighHeight);
  }

  &.middle {
    @include billHeightBase($billStandardSize, $billMediumHeight);
  }

  &.low {
    @include billHeightBase($billStandardSize, $billLowHeight);
  }
}