/*-------------------------
  car mixin
 */
@mixin carBodyBase() {
  width: $carWidth;
  height: $carHeight;

  transform: translateZ($carDepth);
  transform-style: preserve-3d;

  &:before {
    @include pseudoElementBase;
    @include leftBend90deg($shortSideDepth, $carHeight);
  }

  &:after {
    @include pseudoElementBase;
    @include bottomBend90deg($carWidth, $carDepth);
  }
}

@mixin carColorBase($bodycolor) {
  background-color: $bodycolor;
  $bumperColor: darken($bodycolor, 8%);

  &:before {
    $leftSideColor: darken($bodycolor, 3%);
    background-color: transparent;
    background-image:
      // number plate
      // bumper
      // frame
      // body
      linear-gradient(to left,
        $carNumberPlateColor, $carNumberPlateColor
      ),
      linear-gradient(to left,
        transparent, transparent  $shortSideDepth * 0.8,
        $bumperColor  $shortSideDepth * 0.8
      ),
      linear-gradient(to bottom,
        $leftSideColor,                  $leftSideColor $carHeight * 0.1,
        transparent    $carHeight * 0.1, transparent    $carHeight * 0.9,
        $leftSideColor $carHeight * 0.9, $leftSideColor
      ),
      linear-gradient(to left,
        $leftSideColor   $shortSideDepth * 0.1,
        $carWindowColor  $shortSideDepth * 0.1, $carWindowColor $shortSideDepth * 0.6,
        $leftSideColor   $shortSideDepth * 0.6, $leftSideColor
      );
    background-repeat: no-repeat;
    background-size:
      $carHeight*0.1 $carHeight*0.5,
      auto,
      auto,
      auto;
    background-position:
      left center,
      0,
      0,
      0;
  }

  &:after {
    $bottomSideColor: darken($bodycolor, 5%);
    background-image:
      // tire
      // frame
      // frame
      // frame
      // body
      radial-gradient(circle closest-side at center,
        $carTireColor 100%, transparent 100%
      ),
      linear-gradient(to bottom,
        $bottomSideColor, $bottomSideColor
      ),
      linear-gradient(to bottom,
        $bottomSideColor, $bottomSideColor
      ),
      linear-gradient(to bottom,
        $bottomSideColor, $bottomSideColor
      ),
      linear-gradient(to bottom,
        $bottomSideColor   $shortSideDepth * 0.1,
        $carWindowColor    $shortSideDepth * 0.1, $carWindowColor    $shortSideDepth * 0.6,
        $bottomSideColor   $shortSideDepth * 0.6, $bottomSideColor   $shortSideDepth * 0.8,
        $bumperColor       $shortSideDepth * 0.8, $bumperColor       $shortSideDepth,
        transparent        $shortSideDepth,       transparent
      );

    background-size:
      $carWidth*0.5  $carDepth*0.3,
      $carWidth*0.1  $carDepth*0.6,
      $carWidth*0.1  $carDepth*0.6,
      $carWidth*0.1  $carDepth*0.6,
      auto auto;
    background-position:
      0 $carDepth/3*2,
      left top,
      center top,
      right top,
      0 0;
    background-repeat:
      repeat-x,
      no-repeat,
      no-repeat,
      no-repeat,
      no-repeat;
  }
}

/*-------------------------
  car
 */
.car {
  @include carBodyBase();
  @include carColorBase($carRedColor);

  position: absolute;
  right: 0;

  &.red {
    @include carColorBase($carRedColor);
  }

  &.blue {
    @include carColorBase($carBlueColor);
  }
}



