/*----------------
  land
*/
.address {
  flex-shrink: 0;

  position: relative;
  width: $landWide;
  height: $landLength;
  background-color: $grassColor;
  transform: translateZ($landDepth);
  transform-style: preserve-3d;

  &:before {
    @include pseudoElementBase;
    @include leftBend90deg($landDepth, $landLength);
    background-color: darken($grassColor, 5%);
  }

  &:after {
    @include pseudoElementBase;
    @include bottomBend90deg($landWide, $landDepth);
    background-color: darken($grassColor, 8%);
  }
}

