/*-------------------------
  road
 */
.street {
  position: relative;
  flex-shrink: 0;
  width: $streetWidth;

  background-image:
    linear-gradient(to  bottom,
      $roadAsphaltColor,
      $roadAsphaltColor 20px,
      transparent 20px,
      transparent 80px,
      $roadAsphaltColor 80px,
      $roadAsphaltColor
    ),
    linear-gradient(to right,
      $roadAsphaltColor,
      $roadAsphaltColor 49%,
      $roadLineColor 49%,
      $roadLineColor 51%,
      $roadAsphaltColor 51%,
      $roadAsphaltColor
    );
  background-size: $streetWidth $streetWidth, $streetWidth $streetWidth;
  background-repeat: repeat-y;

  transform: translateZ($roadDepth);
  transform-style: preserve-3d;

  &:before {
    @include pseudoElementBase;
    @include leftBend90deg($roadDepth, 100%);
    background-color: darken($roadAsphaltColor, 5%);
  }

  &:after {
    @include pseudoElementBase;
    @include bottomBend90deg(100%, $roadDepth);
    background-color: darken($roadAsphaltColor, 5%);
  }
}

.avenue {
  position: relative;
  width: 100%;
  height: $avenueWidth;

  background-image:
    linear-gradient(to bottom,
      transparent,
      transparent 48%,
      $roadLineColor 48%,
      $roadLineColor 52%,
      transparent 52%,
      transparent
    ),
    linear-gradient(to right,
      $roadAsphaltColor,
      $roadAsphaltColor 20px,
      transparent 20px,
      transparent 80px,
      $roadAsphaltColor 80px,
      $roadAsphaltColor
    ),
    linear-gradient(to bottom,
      $roadAsphaltColor,
      $roadAsphaltColor 49%,
      $roadLineColor 49%,
      $roadLineColor 51%,
      $roadAsphaltColor 51%,
      $roadAsphaltColor
    );
  background-size: $avenueWidth $avenueWidth, $avenueWidth*0.5 $avenueWidth*0.5, $avenueWidth*0.5 $avenueWidth*0.5;
  background-repeat: repeat;

  transform: translateZ($roadDepth);
  transform-style: preserve-3d;

  &:before {
    @include pseudoElementBase;
    @include leftBend90deg($roadDepth, 100%);
    background-color: darken($roadAsphaltColor, 5%);
  }

  &:after {
    @include pseudoElementBase;
    @include bottomBend90deg(100%, $roadDepth);
    background-color: darken($roadAsphaltColor, 5%);
  }
}