.sky {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100%;
}

.cloud {
  transform: rotate(-6deg) skew(30deg) scale(0.8165, 0.7071);
  position: absolute;
  top: 0;
  width: 180px;
  height: 80px;
  background-color: $cloudColor;
  border-radius: 100px / 70px;
  box-shadow:
    0 5px 15px 1px transparentize(darken($skyColor, 20%), 1 - 0.2),
    -290px 400px 20px 5px transparentize(#000, 1 - 0.1);
  opacity: 0.8;

  &:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 70px;
    left: 40px;
    top: -25px;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: -4px -1px 2px -1px #E2EBF0;
  }

  &:after {
    content: "";
    position: absolute;
    width: 85px;
    height: 75px;
    right: 7px;
    top: -30px;
    background-color: #FFF;
    border-radius: 50%;
    box-shadow: -4px -3px 5px -1px #E2EBF0;
  }

  @for $cloudBase from 1 through 10 {
    &:nth-of-type(#{$cloudBase}) {
      top: random(100) + 200*$cloudBase + px;
    }
  }

  /* animation */
  &.move {
    opacity: 0;
    animation-name: cloudMove;
    animation-duration: 30s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @for $cloudAni from 1 through 10 {
      &:nth-of-type(#{$cloudAni}) {
        animation-duration: 30 + random(20) + s;
        animation-delay: random(10) + s;
      }
    }
  }

  @keyframes cloudMove {
    0% {
      transform: rotate(-6deg) skew(30deg) scale(0.8165, 0.7071) translateX(0);
      opacity: 0;
    }

    20% {
      opacity: 0.8;
    }

    100% {
      transform: rotate(-6deg) skew(30deg) scale(0.8165, 0.7071) translateX(100vw);
      opacity: 0;
    }
  }
}